name: Build Hello Pumpkin plugin

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:
    name: Build Hello-Pumpkin in release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: "PumpkinPlugins/Hello-Pumpkin"
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - uses: Swatinem/rust-cache@v2
      - name: Build Release
        shell: bash
        run: |
          if [[ "${{ runner.arch }}" == "X64" ]]; then
            export RUSTFLAGS="$RUSTFLAGS -C target-cpu=x86-64-v3"
          fi
          cargo build --verbose --release
