name: Cargo Build, Test, and Linting

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  format:
    name: Check formatting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v6
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup component add rustfmt
      - uses: Swatinem/rust-cache@v2
      - run: cargo fmt --check
  lint:
    name: Lint and analyze
    runs-on: ubuntu-latest
    needs: [format]
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v6
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup component add clippy
      - uses: Swatinem/rust-cache@v2
      - name: Detect unused dependencies
        uses: bnjbvr/cargo-machete@main
      - name: Clippy (debug)
        run: cargo clippy --all-targets --all-features
      - name: Clippy (release)
        run: cargo clippy --release --all-targets --all-features

  build_and_test:
    name: Build project and test
    runs-on: ${{ matrix.os }}
    needs: [lint]
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
          - windows-11-arm
          - macos-latest
          - macos-15-intel
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v6
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - uses: taiki-e/install-action@nextest
      - uses: Swatinem/rust-cache@v2
      - name: Cargo nextest
        run: cargo nextest run --verbose
      - name: Cargo doctest
        run: cargo test --doc --verbose

  build_release:
    name: Build release artifacts
    runs-on: ${{ matrix.os }}
    needs: [build_and_test]
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-latest
          - windows-11-arm
          - macos-latest
          - macos-15-intel
        cpu_target:
          - v2
          - v3
          - default
        toolchain:
          - stable
        exclude:
          - os: ubuntu-24.04-arm
            cpu_target: v2
          - os: ubuntu-24.04-arm
            cpu_target: v3
          - os: windows-11-arm
            cpu_target: v2
          - os: windows-11-arm
            cpu_target: v3
          - os: macos-latest
            cpu_target: v2
          - os: macos-latest
            cpu_target: v3
          - os: macos-15-intel
            cpu_target: v2
          - os: macos-15-intel
            cpu_target: v3
          - os: ubuntu-latest
            cpu_target: default
          - os: ubuntu-24.04-arm
            cpu_target: default
          - os: windows-latest
            cpu_target: default
          - os: windows-11-arm
            cpu_target: default
    steps:
      - uses: actions/checkout@v6
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - uses: Swatinem/rust-cache@v2
      - name: Build Release (with conditional CPU target)
        shell: bash
        if: ${{ (matrix.cpu_target != 'default' && runner.arch == 'X64') || (matrix.cpu_target == 'default' && runner.arch != 'X64') }}
        run: |
          if [ "${{ matrix.cpu_target }}" == "v2" ]; then
            export RUSTFLAGS="$RUSTFLAGS -C target-cpu=x86-64-v2"
          elif [ "${{ matrix.cpu_target }}" == "v3" ]; then
            export RUSTFLAGS="$RUSTFLAGS -C target-cpu=x86-64-v3"
          fi
          cargo build --verbose --release
      - name: Prepare artifacts
        shell: bash
        if: ${{ (matrix.cpu_target != 'default' && runner.arch == 'X64') || (matrix.cpu_target == 'default' && runner.arch != 'X64') }}
        run: |
          mkdir -p dist
          if [ "${{ runner.os }}" == "Windows" ]; then EXT=".exe"; else EXT=""; fi
          if [ "${{ matrix.cpu_target }}" == "v2" ]; then
            TARGET_ARCH="x86-64-v2"
          elif [ "${{ matrix.cpu_target }}" == "v3" ]; then
            TARGET_ARCH="x86-64-v3"
          else
            TARGET_ARCH="${{ runner.arch }}"
          fi
          cp "target/release/pumpkin$EXT" "dist/pumpkin-${TARGET_ARCH}-${{ runner.os }}$EXT"
      - name: Export executable
        uses: actions/upload-artifact@v6
        if: ${{ (matrix.cpu_target != 'default' && runner.arch == 'X64') || (matrix.cpu_target == 'default' && runner.arch != 'X64') }}
        with:
          name: pumpkin-${{ matrix.cpu_target }}-${{ runner.arch }}-${{ runner.os }}
          compression-level: 9
          path: dist/pumpkin-*

  draft_release:
    permissions:
      contents: write
    needs: [build_release]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v6
      - name: Download prebuilt binary artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: "**/pumpkin-*"
          path: dist/
          merge-multiple: true
      - name: Generate release notes
        run: |
          tree dist/
          echo "From commit: $(git rev-parse --short HEAD)" > dist/RELEASE.md
          echo "Generated on: $(date -u +"%Y-%m-%d %H:%M") UTC" >> dist/RELEASE.md
          cat dist/RELEASE.md
      - name: Update the nightly tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git tag --force nightly && git push --force origin tag nightly
      - name: Draft a nightly github release
        uses: softprops/action-gh-release@v2
        with:
          prerelease: true
          files: dist/pumpkin*
          tag_name: nightly
          name: Nightly Build
          body_path: dist/RELEASE.md
