name: Cargo Build, Test, and Linting

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always
  RUSTFLAGS: "-Dwarnings"

jobs:
  format:
    name: Check formatting
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v6
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup component add rustfmt
      - uses: Swatinem/rust-cache@v2
      - run: cargo fmt --check
  machete:
    name: Detect unused dependencies
    runs-on: ubuntu-latest
    needs: [format]
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v6
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - uses: bnjbvr/cargo-machete@main
  clippy_debug:
    name: Run lints (debug)
    runs-on: ubuntu-latest
    needs: [machete]
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v6
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup component add clippy
      - uses: Swatinem/rust-cache@v2
      - name: Clippy (debug)
        run: cargo clippy --all-targets --all-features
  clippy_release:
    name: Run lints (release)
    runs-on: ubuntu-latest
    needs: [machete]
    strategy:
      matrix:
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v6
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: rustup component add clippy
      - uses: Swatinem/rust-cache@v2
      - name: Clippy (release)
        run: cargo clippy --release --all-targets --all-features
  build_and_test:
    name: Build project and test
    runs-on: ${{ matrix.os }}
    needs: [clippy_debug, clippy_release]
    strategy:
      matrix:
        os:
          [
            ubuntu-latest,
            ubuntu-24.04-arm,
            windows-latest,
            windows-11-arm,
            macos-latest,
            macos-15-intel,
          ]
        toolchain:
          - stable
    steps:
      - uses: actions/checkout@v6
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - uses: taiki-e/install-action@nextest
      - uses: Swatinem/rust-cache@v2
      - name: Cargo nextest
        run: cargo nextest run --verbose
      - name: Cargo doctest
        run: cargo test --doc --verbose
  build_release:
    name: Build project in release
    runs-on: ${{ matrix.os }}
    needs: [build_and_test]
    strategy:
      matrix:
        os:
          [
            ubuntu-latest,
            ubuntu-24.04-arm,
            windows-latest,
            windows-11-arm,
            macos-latest,
            macos-15-intel,
          ]
        cpu_target:
          - default
          - v2
          - v3
        toolchain:
          - stable
        exclude:
          - os: ubuntu-24.04-arm
            cpu_target: v2
          - os: ubuntu-24.04-arm
            cpu_target: v3
          - os: windows-11-arm
            cpu_target: v2
          - os: windows-11-arm
            cpu_target: v3
          - os: macos-latest
            cpu_target: v2
          - os: macos-latest
            cpu_target: v3
          - os: macos-15-intel
            cpu_target: v2
          - os: macos-15-intel
            cpu_target: v3
    steps:
      - uses: actions/checkout@v6
      - run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - uses: Swatinem/rust-cache@v2
      - name: Build Release
        shell: bash
        if: ${{ (matrix.cpu_target != 'default' && runner.arch == 'X64') || (matrix.cpu_target == 'default' && runner.arch != 'X64') }}
        run: |
          if [ "${{ matrix.cpu_target }}" == "v2" ]; then
            export TARGET_CPU_FLAG="-C target-cpu=x86-64-v2"
            export TARGET_ARCH_NAME="x86-64-v2"
          elif [ "${{ matrix.cpu_target }}" == "v3" ]; then
            export TARGET_CPU_FLAG="-C target-cpu=x86-64-v3"
            export TARGET_ARCH_NAME="x86-64-v3"
          else
            export TARGET_CPU_FLAG=""
            export TARGET_ARCH_NAME="${{ runner.arch }}"
          fi
          export RUSTFLAGS="$RUSTFLAGS $TARGET_CPU_FLAG"
          cargo build --verbose --release
      - name: Prepare artifacts
        shell: bash
        if: ${{ (matrix.cpu_target != 'default' && runner.arch == 'X64') || (matrix.cpu_target == 'default' && runner.arch != 'X64') }}
        run: |
          mkdir -p dist
          if [ "${{ runner.os }}" == "Windows" ]; then EXT=".exe"; else EXT=""; fi
          cp "target/release/pumpkin$EXT" "dist/pumpkin-${TARGET_ARCH_NAME}-${{ runner.os }}$EXT"
      - name: Export executable
        if: ${{ (matrix.cpu_target != 'default' && runner.arch == 'X64') || (matrix.cpu_target == 'default' && runner.arch != 'X64') }}
        uses: actions/upload-artifact@v6
        with:
          name: pumpkin-${{ matrix.cpu_target }}-${{ runner.arch }}-${{ runner.os }}
          compression-level: 9
          path: dist/pumpkin-*
  draft_release:
    permissions:
      contents: write
    needs: [build_release]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    steps:
      - uses: actions/checkout@v6
      - name: Download prebuilt binary artifacts
        uses: actions/download-artifact@v7
        with:
          pattern: "**/pumpkin-*"
          path: dist/
          merge-multiple: true
